.column-1, .column-2{
  display:inline-block;
  width:40%;
  vertical-align: top;
}

header{
  width:80%;
  padding:20px;
  border: 1px solid #fff;
}

body {
  margin: 0 auto;
  max-width: 960px;
  font-family: sans-serif;
  line-height: 1.4em;
  background-color: #d4f9a9;
}

code {
  background-color: #e6e6e6;
  padding: 3px;
}

article {
  padding:5px;
  background-color: #eee;
  border-radius: 10px;
  margin:10px;
  padding:20px;
}

footer {
  width: 80%;
  text-align:center;
  margin-top: 20px;
}